@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

footer{
    margin-top: auto;
    color: black;
    background-color: green;
    width: 100%;
    text-align: center;
    opacity: 0.7;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    color: black;
    background-color: green;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}


.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.redirect-button:hover {
    background-color: green;
    margin-bottom: 15px;
}

.redirect-button {
    display: inline-block;
    padding: 20px 40px; 
    margin: auto;
    margin-bottom: 15px;
    font-size: 1.5em; 
    border-radius: 12px;
    background-color: #162938; 
    color: #fff; 
    text-decoration: none; /* Remove underline from the button since its a link */
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

.redirect-button:hover {
    background-color: #0b1e2c; /* Darker color on hover */
    transform: scale(1.05); /* Slight zoom effect on hover */
}