<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Booking</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_booking.css' %}">
</head>
<body>
    <div class="sidebar">
        {% include 'staffpanel/sidebar.html' %}
    </div>

    <div class="content">
        <div class="form-wrapper">
            <h1>Edit Booking #{{ booking.id }}</h1><br>

            <form method="post">
                {% csrf_token %}

                <h2>Booking Information</h2>
                {{ form.as_p }}

                <h2>Customer Information</h2>
                {{ customer_form.as_p }}

                <button type="submit">Save Changes</button>
                <a href="{% url 'staffpanel:staff_panel' %}">Cancel</a>
        
            </form>
        </div>
    </div>
</body>
</html>
